orange-canvas-core>=0.1.28,<0.2a
orange-widget-base>=4.19.0

AnyQt>=0.1.0

pyqtgraph>=0.13.1
matplotlib>=3.2.0
qtconsole>=4.7.2
pygments>=2.8.0
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
